.footer {
    display: flex;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
}
.footer svg {
    width: 40px;
    height: 24px;
}
.footer .footer-part-1 {
    min-width: 100%;
    background-color: rgb(25 74 94);
    min-height: 25vh;
}
.footer-part-1 p:nth-child(1) {
    font-size: 3.5rem;
    font-weight: 500;
    margin: 0px 0 5px 80px;
    padding-top: 4%;
    color: rgba(240, 248, 255, 0.705);

}
.footer-part-1 p:nth-child(2) {
    color: rgba(240, 248, 255, 0.705);
    font-size: 2rem;
    margin: 0 0 20px 80px;
}
.footer .footer-part-2 {
    min-width: 100%;
    background-color: rgb(3, 3, 3);
    text-align: center;
    min-height: 15vh;
    padding: 0% 0%;
}
/* display: flex;
 flex-wrap: wrap; 
 justify-content: center;
 align-items: center;*/
.footer-part-2 a{
    color: rgba(240, 248, 255, 0.705);
    text-decoration: none;
    display: inline;
    padding: 2px 6px;
}
/*font-size: 2.5rem; */
/*margin: 20px 10px 0px 10px;*/
.footer-part-2 a:hover{
    color: white;
}
h3{
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-part-2 a svg{
    width: 40px;
    height: 24px;
}
@media (max-width: 400px) {
    .footer .footer-part-1 p:nth-child(2) {
        margin: 0 0 0 20px;
        font-size: 1rem;
    }
}
@media (max-width: 800px) {
    .footer-part-1 p:nth-child(2) {
        font-size: 1.5rem;
        margin: 0 0 0 40px;
    }
    .footer-part-1 p:nth-child(1) {
        font-size: 2rem;
        font-weight: 400;
        margin: 0px 0 10px 80px;
        padding-top: 4%;
    }
    .footer-part-2 a{
        display: block;
        padding: 10px 0;
    }
.footer .footer-part-2 {
    padding: 1% 0%;

}
}
@media (min-width: 1320px) {
    .footer-part-1 p:nth-child(2) {
        font-size: 3rem;
        margin: 0 0 4% 80px;
        
    }
    .footer-part-1 p:nth-child(1) {
        font-size: 4rem;
        font-weight: 600;
    }
}
@media (min-width: 1400px) {
    .footer-part-1 p:nth-child(2) {
margin-bottom: 120px;

    }
    }