.footer {
    display: flex;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
}
.footer .footer-part-1 {
    min-width: 100%;
    background-color: grey;
    min-height: 25vh;
}
.footer-part-1 p:nth-child(1) {
    font-size: 3.5rem;
    font-weight: 500;
    margin: 0px 0 5px 80px;
    padding-top: 4%;
}
.footer-part-1 p:nth-child(2) {
    color: rgba(240, 248, 255, 0.705);
    font-size: 2rem;
    margin: 0 0 0 80px;
}
.footer .footer-part-2 {
    min-width: 100%;
    background-color: rgb(3, 3, 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}
.footer-part-2 a{
    color: rgba(240, 248, 255, 0.705);
    font-size: 2.5rem;
    text-decoration: none;
    margin-top: 20px;
}
.footer-part-2 a:hover{
    color: white;
}
.footer-part-2 .pp{
    font-size: 2rem;
    color: rgba(240, 248, 255, 0.705);
    margin: 0px 15px 0px 15px;
}
.footer-part-2 .pp1{
    font-size: 2rem;
    color: rgba(240, 248, 255, 0.705);
}
@media (max-width: 800px) {
    .footer-part-1 p:nth-child(2) {
        font-size: 1.5rem;
        margin: 0 0 0 40px;
    }
    .footer-part-1 p:nth-child(1) {
        font-size: 2rem;
        font-weight: 400;
        margin: 0px 0 10px 80px;
        padding-top: 4%;
    }
    .footer-part-2 a{
        font-size: 1.7rem;
        text-decoration: none;
    }
    .footer-part-2 .pp{
        visibility: hidden;
    }
}
@media (max-width: 800px) {
    .footer-part-1 p:nth-child(2) {
        margin: 0 0 20px 80px;
    }
}
@media (min-width: 1320px) {
    .footer-part-1 p:nth-child(2) {
        font-size: 3rem;
        margin: 0 0 4% 80px;
        
    }
    .footer-part-1 p:nth-child(1) {
        font-size: 4rem;
        font-weight: 600;
    }
    .footer-part-2 a{
        font-size: 3rem;
    }
}