@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: 'Roboto Slab', serif;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.container-1 {
  background-image: url("../image/mias2.jpg");
  background-position-y: 25%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  filter: contrast(1.2);
}
.container-1 h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin: 0px 0 5px 3%;
  padding-top: 6%;
  color: rgb(68 60 60);
  text-shadow: -2px 2px 5px #7b7e85;
  
}
.container-1 .div-frontend {
  margin: 0 0 0 5%;
  display: flex;
  flex-wrap: nowrap;
}
.container-1 .div-frontend h2 {
  color: rgb(4 63 87);
  font-size: 2.5rem;
  text-shadow: -2px 1px 6px rgb(255 255 255);
  margin: 0 10px;
}
.container-2 {
  width: 100%;
  background-color: #000;
}

.container-3 {
  width: 100%;
  min-height: 30%;
  background-color: rgba(0, 0, 0, 0.970);
  
}

.container-buttonsl{
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  background: rgba(32,35,41,.8);
  top: 0;
  z-index: 4;
  font-family: 'Roboto Slab', serif;
}
.buttonsl {
background-color: #000;
width: 50%;
height: 40vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
border-radius: 20px;
z-index: 12;
margin-top: 150px;

}
.buttonsl button{
border-radius: 20px;
padding: 6px;
margin: 5px;
border: none;
width: 200px;
height: 50px;
font-family: 'Roboto Slab', serif;
cursor: pointer;
}
.buttonsl button:hover{
  background-color: rgb(60, 116, 116);
  transform:scale(1.1)
}
.con-h3 {
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.con-h3 h3 {
  color: rgba(255, 255, 255, 0.63);
  text-shadow: 1px 2px 1px;
}
.anchor {
  visibility: 0;
}
.backDetail {
  background-color: #000;
  min-width: 100%;
  
}

@media (max-width: 800px) {
.container-1 {
  background-position-x: 80%;
}
  .container-1 h1 {
    font-size: 2.5rem;
    font-weight: 500;
    width: fit-content;
    padding-top: 15%;
    text-shadow: -2px 2px 2px #bdbdbd;

  }
  .container-1 .div-frontend {
  flex-wrap: wrap;
  max-width: 50%;
  }
  .container-1 .div-frontend h2 {
    font-size: 1.5rem;
  }
.buttonsl {
width: 80%;
}
}
