.navbar { 
    padding-top: 10px;
    animation: 3s navbar 2.8s ease-in-out;
    background-color: #194a5e;
    display: flex;
    justify-content: flex-end;
}
@keyframes navbar {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0);
    }
}
.navbar .navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: flex-end;
}

.navbar-content ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 10px 0;
}

.navbar-content ul li a{
    text-decoration: none;
    color: #8f8b8b;
    font-size: large;
}
.navbar-content ul li {
position: relative;
}
.navbar-content ul li a:hover{
    color: #ffffff;
}
.navbar-content ul li::before{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 300ms;
}
.navbar-content ul li:hover::before{
width: 100%;
}
.barras {
display: none;
position: relative;
}

@media (max-width: 800px) {   
    .navbar{
        padding-top: 0;
    }
.navbar .navbar-content {
    width: 70%;
    height: 100vh;
    padding: 0px;
    display:flex;
    flex-direction: column;
    position: absolute;
    transition: 0.5s all ease-in;
}

.navbar .navbar-content.close {
    left: -300px;
    top: 0;
}
.navbar .navbar-content.open {
    background-color: black;
    left: 0; font-weight: 600;
    top: 0;
}
.navbar-content ul{
    margin: 0;
    display: block;
    min-height: 90vh;
    padding-top: 60px;
    }
    .navbar-content ul li{
    width: 70%;
    margin: 0px 30px 30px;
}
.navbar-content ul li a{
color: white;
padding: 5px;
}

.barras {
    position: absolute;
    margin-top: 4px;
    margin-bottom: 8px;
    background-color: #484848;
    background-image: none;
    border: 1px solid rgb(0 0 0 / 45%);
    border-radius: 4px;
    display: block;
    top:0;
    left: 5px;
}
.barras button{
    background: none;
    border: none;
}
.barras span{
    display: block;
    width: 22px;
    height: 2px;
    margin: 5px 0px;
    border-radius: 1px;
    background-color: #fff;
}

}
@media (min-width: 800px) {
    .navbar .navbar-content {
        padding: 0 0 0 80px;
    }
    .navbar-content ul li a{
        font-size: x-large;
    }
}
@media (min-width: 1100px) {
.navbar .navbar-content {
width: 50%;
}
}