@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.container{
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}
.text-container {
    padding: 15%;
}
.text-container div p {
    color: white;
    font-size: large;
    letter-spacing: 1px;
    line-height: 35px;
}
@media (min-width: 1320px) {
.text-container div p {
  font-size: x-large;
  letter-spacing: 4px;
  line-height: 55px;

}
}