@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.uno {
width: 100%;
}
.container-p {
    background-color: rgba(2, 14, 53, 0.979);
    border-radius: 50%;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.div-probar {
    width: 100vw;
    display: flex;
    justify-content: center;
    height: fit-content;

}
.container-p div .imagenn{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 10%;
}
.container-p div .parrafo-1{
    font-size: x-large;
    color: rgb(236, 236, 236);
    font-family: 'Roboto Slab', serif;
    width: 30vw;
    padding: 20px 0px 20px 20px;
    font-weight: 500;
    margin-top: 21%;

}
.uno .containerin {
    background-color: rgb(189, 119, 28);
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.containerin .h1-skills {
    font-size: 3.5rem;
    color: aliceblue;
  text-shadow: -2px 4px 8px rgb(100, 96, 96) ;
  margin-right: 60vw;

}
.containerin .div-skills{
    display: flex;
    flex-wrap: wrap;
    margin-left: 14vw;
}

.skills {
    margin: 20px 20px 20px 10px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
}
.skills img {
    width: 90px;
    height: 90px;
} 
.skills p {
    color: white;
    margin: 0;
    font-size: large;
}
.containerin .container-alllenguages{
    display: flex;
    flex-wrap: wrap;
    margin-left: 14vw;
    min-width: 700px;
}
.containerin .h1-lenguages{
    margin-right: 20vw;
    font-size: 3.5rem;
    color: aliceblue;
  text-shadow: -2px 4px 8px rgb(100, 96, 96) ;
}
.containerin .div-col{
    display: inline-block;
    margin: 10px 10px 10px 3%;
}
.div-col img {
    width: 70px;
    height: 70px;
}
.div-col h2 {
   color: aliceblue;
   text-align: center;
   margin-top: 0;
}
.containerin .punto{
visibility: hidden;
}
.container-carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.932);
    width: 100%;
    margin-top: 20px;
}
.container-carousel h1{
    font-size: 3.5rem;
    color: aliceblue;
  text-shadow: -2px 4px 8px rgb(100, 96, 96) ;
  margin-left: 34vw;
  margin-right: 34vw;

}
.containerin .hobbies-c{
    width: 100%;
    margin-bottom: 40px;
    margin-left: 14vw;

}
@media (min-width:600px) {
    .container-p div .imagenn{
        width: 160px;
        height: 160px;
    }
    .containerin .h1-lenguages{
        margin-right: 60vw;
    }
    }
@media (min-width:800px) {
.uno .containerin .h1-skills {
  margin-right: 60vw;
}
.containerin .h1-lenguages{
    margin-right: 60vw;
}

.container-p div .imagenn{
    width: 300px;
    height: 300px;
}
.container-p div .parrafo-1{
    margin-top: 16%;
}
}
@media (min-width:1000px) {
.uno .containerin  {
    position: absolute;
    top: 54%;
}
.container-carousel{
    margin-top: 700px;
}
.uno .containerin .h1-skills {
  margin-right: 80vw;
}
.containerin .h1-lenguages{
    margin-right: 80vw;
}
}
@media (min-width:1316px) {
.container-carousel{
    margin-top: 500px;
}
.uno .containerin  {
    top: 57%;
}
}